<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物联网云服务</title>
    <meta name="description" content="产品列表">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/datatable/amazeui.datatables.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css">
    <link rel="stylesheet" href="../../static/assets/css/app.css">

</head>

<STYLE>
    .right {
        text-align: right !important
    }
</STYLE>

<body data-type="generalComponents">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="../../static/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <ul class="am-dropdown-content">
                    <li><a href="javascript:exit();"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="javascript:exit();" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            菜单列表
        </div>
        <div class="tpl-left-nav-list">
            <div th:each="item:${menuList}">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a th:href="${item.menuUrl}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span th:text="${item.menuName}"></span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul th:each="child:${item.children}" class="tpl-left-nav-sub-menu">
                            <li>
                                <a th:href="${child.menuUrl}">
                                    <i class="am-icon-angle-right"></i>
                                    <span th:text="${child.menuName}"></span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="tpl-block">
                    <legend><h5>购买列表</h5></legend>
                </div>
            </div>
            <div class="portlet-title">
                <div class="tpl-block">
                    <!-- <div class="am-g">
                         <div class="am-u-sm-12">
                             <form id="queryForm" class="am-form">
                                 <div class="am-g am-margin-top  am-form-group am-form-group-sm">
                                     <div class="am-u-sm-3 am-u-md-2 am-text-left am-text-xs">
                                         登录名:
                                     </div>
                                     <div class="am-u-sm-9 am-u-md-10 am-text-left">
                                         <input class="am-form-field am-input-xs" type="text" id="userName"
                                                placeholder="登录名">
                                     </div>
                                 </div>
                                 <div class="am-g am-margin-top  am-form-group am-form-group-xs">
                                     <div class="am-u-sm-3 am-u-md-2 am-text-left  am-text-xs">
                                         手机号:
                                     </div>
                                     <div class="am-u-sm-9 am-u-md-10 am-text-left">
                                         <input class="am-form-field am-input-xs" type="text" id="phone"
                                                placeholder="手机号">
                                     </div>
                                 </div>
                                 <div class="am-g am-margin-top  am-form-group am-form-group-xs">
                                     <div class="am-u-sm-3 am-u-md-2 am-text-left  am-text-xs">
                                         公司名称:
                                     </div>
                                     <div class="am-u-sm-9 am-u-md-10 am-text-left">
                                         <input class="am-form-field am-input-xs" type="text" id="company"
                                                placeholder="公司名称">
                                     </div>
                                 </div>
                                 <div class="am-margin">
                                     <a class="am-btn am-btn-primary am-btn-xs" href="javascript:query();">查询</a>
                                     <a class="am-btn am-btn-primary am-btn-xs" href="javascript:add();">新增</a>
                                 </div>
                             </form>
                         </div>
                     </div>-->

                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table id="orderTable"
                                       class="am-table am-table-striped am-table-hover table-main am-table-compact">
                                    <thead>
                                    <tr>
                                        <th>订单号</th>
                                        <th>产品名称</th>
                                        <th>订单时间</th>
                                        <th>收件地址</th>
                                        <th>邮费</th>
                                        <th>支付金额</th>
                                        <th>订单状态</th>
                                        <th>物流状态</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                </table>
                                <hr/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/assets/js/jquery.min.js"></script>
<script src="http://code.changer.hk/jquery/plugins/jquery.cookie.js"></script>
<script src="../../static/assets/datatable/amazeui.datatables.min.js"></script>
<script src="../../static/assets/biz/common.js"></script>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/app.js"></script><!-- 全屏按鈕+菜單 -->
<script src="../../static/assets/biz/form-order-buy-list.js"></script>


<!--模态框-->
<div class="am-modal am-modal-alert" tabindex="10000" id="trans">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">支付确认</div>
        <div class="am-modal-bd">
            <!--模态框内容-->
            <div class="am-u-sm-12">
                <form id="transForm" class="am-form" data-am-validator>
                    <fieldset>
                        <div class="am-g am-margin-top  am-form-group am-form-group-sm">
                            <div class="am-u-sm-3 am-u-md-3 am-text-left am-text-xs">
                                产品:
                            </div>
                            <div class="am-u-sm-9 am-u-md-9 am-text-left">
                                <input class="am-form-field am-input-xs" disabled="disabled" type="text"
                                       id="productName">
                            </div>
                        </div>
                        <div class="am-g am-margin-top  am-form-group am-form-group-xs">
                            <div class="am-u-sm-3 am-u-md-3 am-text-left  am-text-xs">
                                总价(元):
                            </div>
                            <div class="am-u-sm-9 am-u-md-9 am-text-left">
                                <input class="am-form-field am-input-xs" type="text" id="total"
                                       disabled="disabled">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="am-modal-footer">
            <!--关键是在这里为两个按钮加上data-am-modal-confirm与data-am-modal-cancel属性-->
            <span class="am-modal-btn" data-am-modal-confirm>确认</span>
            <span class="am-modal-btn" data-am-modal-cancel>关闭</span>
        </div>
    </div>
</div>


</body>


</html>