<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物联网系统</title>
    <meta name="description" content="这是一个form页面">
    <meta name="keywords" content="form">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>物联网系统</strong>
        <small>后台短信发送</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->

    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                </div>
            </div>

            <hr>

            <div class="am-tabs am-margin" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="#tab1">基本信息</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <form id="smsForm" class="am-form">
                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    SIM卡号码:
                                </div>
                                <div class="am-u-sm-12 am-u-md-10">
                                    <textarea id="receiveIds" name="receiveIds" rows="3"
                                              placeholder="请输入SIM卡号码!"></textarea>
                                </div>
                            </div>

                            <div class="am-g am-margin-top-sm">
                                <div class="am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
                                    短信内容:
                                </div>
                                <div class="am-u-sm-12 am-u-md-10">
                                    <textarea id="smsContent" name="smsContent" rows="10"
                                              placeholder="请输入短信内容"></textarea>
                                </div>
                            </div>

                            <input hidden="true" id="userId" name="userId" value="-1"/>
                            <input hidden="true" id="onlineFlag" name="onlineFlag" value="onlineFlag"/>

                        </form>
                    </div>
                </div>
            </div>

            <div class="am-margin">
                <a class="am-btn am-btn-primary am-btn-block" href="javascript:sendSms();">发送短信</a>
                <a class="am-btn am-btn-primary am-btn-block" href="javascript:directList();">发送列表</a>
                <a class="am-btn am-btn-primary am-btn-block" href="javascript:directList2();">接收列表</a>
            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<script>

    function directList() {
        //window.location.href="http://127.0.0.1:8080/fe/sms_list";
        window.location.href = "/fe/sms/list";
    }

    function directList2() {
        //window.location.href="http://127.0.0.1:8080/fe/sms_list";
        window.location.href = "/fe/sms/deliver_list";
    }

    function sendSms() {
        //alert($('#smsForm').serialize());
        //alert(JSON.stringify($('#smsForm').serialize()));
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",//预期服务器返回的数据类型
            url: "/sms/send",//url
            data: $('#smsForm').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 0000) {
                    alert("提交成功!");
                   // $("#receiveIds").val("");
                   // $("#smsContent").val("");
                }
            },
            error: function () {
                alert("异常！");
            }
        });
    }
</script>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../static/assets/js/amazeui.min.js"></script>
<script src="../static/assets/js/app.js"></script>
</body>
</html>
