<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物联网云服务</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css"/>
    <link rel="stylesheet" href="../../static/assets/css/app.css"/>
    <link rel="stylesheet" href="../../static/assets/icheck/all.css"/>


</head>

<body data-type="generalComponents">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="../../static/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>

            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>

            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>

            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>

                <ul class="am-dropdown-content">
                    <li><a href="javascript:exit();"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="javascript:exit();" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            菜单 列表
        </div>
        <div class="tpl-left-nav-list">
            <div th:each="item:${menuList}">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a th:href="${item.menuUrl}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span th:text="${item.menuName}"></span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul th:each="child:${item.children}" class="tpl-left-nav-sub-menu">
                            <li>
                                <a th:href="${child.menuUrl}">
                                    <i class="am-icon-angle-right"></i>
                                    <span th:text="${child.menuName}"></span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            我的卡片
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form id="queryForm" class="am-form-inline" role="form">

                                <div class="am-form-group">
                                    <span class="am-text-sm">卡号:&nbsp;&nbsp;</span> <input id="sim" name="sim"
                                                                                           type="text"
                                                                                           class="am-form-field"
                                                                                           placeholder="卡号">
                                </div>

                                <div class="am-form-group">
                                    <span class="am-text-sm">ICCID:&nbsp;&nbsp;</span> <input id="iccid" name="iccid"
                                                                                              type="text"
                                                                                              class="am-form-field"
                                                                                              placeholder="ICCID">
                                </div>

                                <div class="am-form-group">
                                    <span class="am-text-sm">已指派用户ID:&nbsp;&nbsp;</span> <input id="supplier" name="supplier"
                                                                                              type="text"
                                                                                              class="am-form-field"
                                                                                              placeholder="已指派用户ID">
                                </div>

                                <a class="am-btn am-btn-primary am-btn-xs" href="javascript:query();">查询</a>
                            </form>
                            </br>&nbsp;
                            <form id="assignForm"  class="am-form-inline" role="form">
                                <div class="am-form-group">
                                    <span class="am-text-sm">指派用户ID:&nbsp;&nbsp;</span> <input id="userId" name="userId"
                                                                                               type="text"
                                                                                               class="am-form-field"
                                                                                               placeholder="指派用户ID">
                                </div>
                                <a class="am-btn am-btn-primary am-btn-xs" href="javascript:assign();">分配</a>
                            </form>
                        </div>
                    </div>

                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table id="simTable" class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                    <tr>
                                        <input type="checkbox" class="icheckbox_minimal" id="all_checked"> <span
                                            class="am-text-sm">全选</span>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>卡号</th>
                                        <th>ICCID</th>
                                        <th>已分配客户</th>
                                    </tr>
                                    </thead>
                                </table>
                                <hr/>
                            </form>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/assets/js/jquery.min.js"></script>
<script src="http://code.changer.hk/jquery/plugins/jquery.cookie.js"></script>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/app.js"></script>
<script src="../../static/assets/datatable/amazeui.datatables.min.js"></script>
<script src="../../static/assets/datatable/dataTables.responsive.min.js"></script>
<script src="../../static/assets/biz/form-card-my-assign.js"></script>
<script src="../../static/assets/icheck/icheck.min.js">/</script>
</body>

<script type="text/javascript">


</script>

</html>