<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.lang.mercury.dao.MenuRefMapper">
    <resultMap id="BaseResultMap" type="com.hy.lang.mercury.pojo.MenuRef">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, menu_id, user_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_m_menu_ref
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_m_menu_ref
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.hy.lang.mercury.pojo.MenuRef">
    insert into t_m_menu_ref (id, menu_id, user_id
      )
    values (#{id,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hy.lang.mercury.pojo.MenuRef">
        insert into t_m_menu_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hy.lang.mercury.pojo.MenuRef">
        update t_m_menu_ref
        <set>
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hy.lang.mercury.pojo.MenuRef">
    update t_m_menu_ref
    set menu_id = #{menuId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- ****************************** -->

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_m_menu_ref
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from t_m_menu_ref
        where user_id = #{userId,jdbcType=BIGINT}
  </delete>

    <insert id="batchInsert" parameterType="List">
        insert into t_m_menu_ref(menu_id, user_id)values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.menuId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT})
        </foreach>

    </insert>
</mapper>